<div id="auth-login" v-cloak>
  <p>login page</p>
  <input type="text" name="" value="">
  <br>
  <input type="password" name="" value="">
  <br>
  <input type="submit" name="" value="Enviar">

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
