<div id="autn-logout" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/logout.less</em>, <em>assets/js/pages/dashboard/logout.page.js</em>, and <em>api/controllers/dashboard/view-logout.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
