<div id="autn-singup" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/singup.less</em>, <em>assets/js/pages/dashboard/singup.page.js</em>, and <em>api/controllers/dashboard/view-singup.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
