<%
/**
 * views/pages/dashboard/partials/mainSidebar.ejs
 *
 */%>


<div class="main-sidebar" tabindex="1" style="overflow: hidden; outline: none;">
  <aside id="sidebar-wrapper">

    <div class="sidebar-brand">
      <a href="/-_-/"><%= sails.i18n('Name App'); %></a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/-_-/"><%= sails.i18n('Name App min'); %></a>
    </div>

    <%/* CONTENIDO DEL SIDEBAR MENU */%>
    <ul class="sidebar-menu">

      <li class="menu-header">Dashboard</li>

    </ul>
  </aside>
</div>

